.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #f5f5f5; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

footer {
    margin-top: auto;
}

.vertical_center {
    display: flex;
    align-items: center;
}